body {
    background-color: #1e1e2f;
}

* {
    margin: 0;
    padding: 0;
}

.home-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.movie-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0px;
    scroll-behavior: smooth;
}

.movie-vertical-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las películas bajen a la siguiente fila */
    gap: 20px;
    padding: 20px 0px;
    justify-content: center; /* Opcional: centra las filas */
}

.movie-vertical-container .movie-card {
    width: 250px;
}

.movie-card {
    min-width: 300px;
    flex-shrink: 0;
    background-color: #222;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
.movie-container {
    transition: transform 0.3s ease;
}
.movie-container:hover {
    transform: scale(1.05); /* Aumenta un 5% */
}

.movieImg {
    position: relative;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.movieBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    z-index: 2;
    justify-content: center;
}

    .movieBtn:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

.movie-card h3,
.movie-card p {
    margin: 10px 15px;
}

.movie-scroll-container::-webkit-scrollbar {
    height: 10px;
}

.movie-scroll-container::-webkit-scrollbar-track {
    background: transparent;
}

.movie-scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

    .movie-scroll-container::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

.border-custom {
    border: 1px solid #F4C430 !important;
}
/*Firefox*/
.movie-scroll-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/*Buscador y parte de arriba*/
#buscador-container {
    background-image: linear-gradient(to bottom, rgba(30, 30, 47, 0), rgba(30, 30, 47, 1)), url(../images/movies-banner.webp);
    background-size: cover; /* La imagen cubre todo el elemento */
    background-position: center; /* Centrada */
    background-repeat: no-repeat;
    height: 50vh;
}

#search-form-home {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
    margin-bottom: 100px;
}

#search-button-home {
    width:130px;
    align-content:center;
}
#logo-home {
    margin-top: 20px;
    width: 300px;
    align-self: center;
    filter: drop-shadow(5px 5px 5px #222);
}
#pelist-slogan-text {
    align-self: center;
    text-shadow: 2px 2px 2px gray;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", sans-serif;
}
.golden-text {
    color: #F4C430;
}
/*Modal de listas*/
.bg-custom-button {
    background-color: #F4C430;
    color: black;
}

    .bg-custom-button:hover {
        background-color: #e0b423;
    }

/*Modal de filtros*/

.border-radius {
    border-radius: 20px;
}
